#videoContainer
{
    width: 100%;
    height: calc(100vh - 10vh);
    position: relative;
}

#video
{
    width: inherit;
    height: inherit;
    object-fit: cover;
    z-index: 1;
}

#typingText
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
}

#typingText1
{
    color: white;
}
#typingText2
{
    color: rgb(134, 6, 6);
}

/* desktop */
@media only screen and (min-width: 1201px)
{
    #typingText
    {
        font-size: 3vw;
    }
}

/* tablet*/
@media only screen and (max-width: 1200px)
{   
    #typingText
    {
        font-size: 5vw;
    }
}

/* mobile */
@media only screen and (max-width: 767px)
{
    #typingText
    {
        font-size: 7vw;
    }
}
